<!DOCTYPE html>
<html>
<head>
    <title>Tambah Data</title>
</head>
<body>
    <h1>Tambah Mobil</h1>
    <form action="/mobil" method="post" enctype="multipart/form-data">
        <div class="group-input">
            <label>ID Mobil</label>
            <input type="text" name='id'>
        </div>
        <div class="group-input">
            <label>Jenis Mobil</label>
            <input type="text" name='jns_mobil'>
        </div>
        <div class="group-input">
            <label>Nama Mobil</label>
            <input type="text" name='nm_mobil'>
        </div>
        <div class="group-input">
            <label>Harga</label>
            <input type="text" name='harga'>
        </div>
        <div class="group-input">
            <label>Password</label>
            <input type="text" name='password'>
        </div>
        <div class="group-input">
            <label><b>Gambar</b></label>
             <input name='image' type="file" required>
        </div>
        <button type="submit">Tambah</button>
        <a href="/mobil">Kembali</a>
    </form>    
</body>
</html>