<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <link rel="stylesheet" href="/assets/style.css")
</head>
<body>
    <%- include ('components/navbar') %>
    <div class="container-fluid p-5 bg-dark text-white text-center">
    <center><h1>PENJUALAN MOBIL TERBARU</h1></center>
    <center><h3>PT. AUTO 2022</h3></center>
    <br>
  </div>
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <center><h4>MOBIL CIVIC</h4></center>
            <a href="https://media.suara.com/pictures/653x366/2021/08/07/14446-honda-civic-2021.webp">
              <img src="https://media.suara.com/pictures/653x366/2021/08/07/14446-honda-civic-2021.webp" alt="Lights" style="width:100%">
              <div class="caption">
                <p>Spesifikasi:</p>
                <p>Honda Civic tersedia dalam pilihan mesin Bensin di Indonesia Sedan baru dari Honda hadir dalam 2 varian. Bicara soal spesifikasi mesin Honda Civic, ini ditenagai dua pilihan mesin Bensin berkapasitas 1498 cc. Civic tersedia dengan transmisi CVT tergantung variannya. Civic adalah Sedan 5 seater dengan panjang 4648 mm, lebar 2076 mm, wheelbase 2700 mm.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
              <center><h4>MOBIL AGYA</h4></center>
              <a href="https://images.autofun.co.id/file1/c5496bfa4e37456f933ae67fde56f54f_456x258.jpg">
                <img src="https://images.autofun.co.id/file1/c5496bfa4e37456f933ae67fde56f54f_456x258.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Spesifikasi:</p>
                  <p>Toyota Agya 2021 - 2022 ditawarkan dalam 13 varian - mulai Rp 143,80Juta hingga Rp 170,39Juta , varian entry levelnya yaitu Toyota Agya 1.0L G M/T Rp 143,80Juta dan varian tertingi Toyota Agya yaitu 2021 Toyota Agya 1.2 GR Sport A/T ditawarkan dengan harga Rp 170,39Juta. Agya sudah dilengkapi dengan teknologi pengereman Anti-lock Braking System (ABS) dan Electronic Brake-force Distribution (EBD).</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <center><h4>MOBIL AVANZA</h4></center>
              <a href="https://imgcdn.oto.com/large/gallery/exterior/38/2436/toyota-avanza-2022-front-angle-low-view-380403.jpg">
                <img src="https://imgcdn.oto.com/large/gallery/exterior/38/2436/toyota-avanza-2022-front-angle-low-view-380403.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Spesifikasi:</p>
                  <p>Dimensi Toyota Avanza 2022 ini juga lebih besar bila dibandingkan dengan Avanza generasi sebelumnya. Dimensi panjangnya meningkat 205 mm, ia pun lebih lebar 70 mm, dan lebih tinggi 5 mm (atau lebih pendek 30 mm untuk varian 1.3 tipe E)</p>
                </div>
              </a>
            </div>
          </div>  
          <br>
     <!-- <p>1. MOBIL CIVIC</p>
    <p>Spesifikasi :</p>
    <p>Honda Civic tersedia dalam pilihan mesin Bensin di Indonesia Sedan baru dari Honda hadir dalam 2 varian. Bicara soal spesifikasi mesin Honda Civic, ini ditenagai dua pilihan mesin Bensin berkapasitas 1498 cc. Civic tersedia dengan transmisi CVT tergantung variannya. Civic adalah Sedan 5 seater dengan panjang 4648 mm, lebar 2076 mm, wheelbase 2700 mm.</p>
    <div>
        <img src="https://media.suara.com/pictures/653x366/2021/08/07/14446-honda-civic-2021.webp" alt="" style="width: 50%">
    </div>
    <br>
    <p>2. MOBIL AVANZA</p>
    <p>Spesifikasi :</p>
    <p>Dimensi Toyota Avanza 2022 ini juga lebih besar bila dibandingkan dengan Avanza generasi sebelumnya. Dimensi panjangnya meningkat 205 mm, ia pun lebih lebar 70 mm, dan lebih tinggi 5 mm (atau lebih pendek 30 mm untuk varian 1.3 tipe E).</p>
    <div>
        <img src="https://imgcdn.oto.com/large/gallery/exterior/38/2436/toyota-avanza-2022-front-angle-low-view-380403.jpg" alt="" style="width: 50%">
    </div> -->
</body>
</html>